# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Media
media/

*_private.py
*_private.js
*.env

#NODEJS
# Dependency directories
node_modules/
jspm_packages/

# pycharm
.idea
