{% extends "base.html" %}

{% load static %}

{% block css %}
<link href="{% static 'students/css/lk.css' %}" rel="stylesheet">
{% endblock css %}

{% block main %}
<div>
  <h1>Личный кабинет</h1>
  <h2>{{ object.username }}</h2>
  <div>
    Город: {{ object.location }}
  </div>
  <div>
    Фото: {{ object.avatar }}
  </div>
  {% if object.avatar %}
    <div class="avatar" style="background: url(/media/{{ object.avatar }}) center no-repeat;background-size: contain;"></div>
  {% else %}
    <div class="avatar"></div>
  {% endif %}
</div>
{% endblock main %}
