@white: #fefefe;
@gray: #555;
@gray-ligth: #ededed;
@black: #212529;
@green: #bcd0bc;
@green-ligth: #c7d8c7;

@width-container-pc: 980px;
@width-tile: @width-container-pc/2 - 15px;

@border-gray: 1px solid @gray;
@border-gray-thick: 2px solid @gray;
@border-radius: 5px;

@font-bold: 900;
@font-normal: 400;

@font-bigest: 60px;
@font-big: 30px;
@font-medium: 20px;
