@import "brand.less";
@import "ContainerMixin.less";

.buttons {
  .container;
  margin: 15px auto;
  &__button {
    width: 100%;
    margin: 5px 0;
    @media (min-width: @width-container-pc) {
      width: @width-container-pc/3 - 20px;
    }
    border: @border-gray;
    border-radius: @border-radius;
    background-color: @gray-ligth;
    color: @black;
    font-size: @font-big;
    padding: 15px 0;
    transition: all 300ms ease;
    &:hover {
      background-color: @gray;
      color: @white;
      cursor: pointer;
    }
  }
}
