@blue: #3487db;
@dark-blue: #2772bf;
@ligth-blue: fadeout(@blue, 20%);
@gray: #aaaaaa;
@gray-lightest: #ecf0f1;
@gray-lightest-fadeout: fadeout(@gray-lightest, 40%);
@gray-light: #dae2e4;
@gray-dark: rgba(0,0,0,0.4);
@white: #fefefe;
@black: #333;
@aliceBlue: #F0F8FF;

@wide-container-width: 1170px;
