@import "./less/brand.less";

.app {
  text-align: center;
  background-color: @white;
  &__header {
    height: 100px;
  }
  &__container {
    max-width: @width-container-pc;
    margin: 0 auto;
  }
}
